*{
    margin: 0%;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 512px;
}
.menu a{
    color: #707070;
    text-decoration: none;
    text-transform:uppercase;
    font-family: arial;
}
header{
    background-color: #ECEFD9;
    padding-top: 60px;
    padding-bottom: 60px;
}
nav{
    width: 1366px;
    margin:auto;
    display: flex;
    justify-content: flex-end;
}
.banner{
    background-image: url(../imagens/flor.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
}
main{
    width: 1200px;
    margin: auto;
    font-family: arial;
    text-align: justify;
    line-height: 2.0;
    padding-bottom: 30px;
}
.conteudo{
    display: flex;
    justify-content: space-between;
}
.texto{
    width: 500px;
}
h1{
    text-align: center;
}
footer{
    background-color:#F1E4F2;
}
.rodape{
    display: flex;
    width: 1366px;
    margin: auto;
    justify-content:space-between;
    align-items: center;
}
/*mensagem*/ 